<div class="row">
    <div class="col-lg-8">
        <a href="/operativo/actividad" class="card text-white bg-success mb-3">
            <div class="card-header">Registros</div>
            <div class="card-body">
                <h3 class="card-title">Ver Actividad Por Zona/Distrito/Cuadrante</h3>
            </div>
            <hr />
            <div class="card-footer">
                <p class="card-text">Se muestran todos las actuaciones registradas por la clasificación elegida.</p>
            </div>
        </a>
    </div>
    
</div>