<div class="row">
    <div class="col-lg-6">
        <a href="/gestion/actividad" class="card text-white bg-dark mb-3">
            <div class="card-header">Auditoría</div>
            <div class="card-body">
                <h3 class="card-title">Ver Actividad Por Verificador</h3>
            </div>
            <hr />
            <div class="card-footer">
                <p class="card-text">Se muestran todas acciones que realizó cada verificador.</p>
            </div>
        </a>
    </div>
    <div class="col-lg-6">
        <a href="/gestion/auditoria" class="card text-white bg-primary mb-3">
            <div class="card-header">Auditoría</div>
            <div class="card-body">
                <h3 class="card-title">Ver Actividad Por Cargador/Gestor</h3>
            </div>
            <hr />
            <div class="card-footer">
                <p class="card-text">Se muestran todas acciones que realizó cada usuario cargador ó gestor.</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4" hidden>
        <a href="/gestion/nomina" class="card text-white bg-info mb-3">
            <div class="card-header">Nómina General</div>
            <div class="card-body">
                <h3 class="card-title">Acceder al Listado</h3>
            </div>
            <hr />
            <div class="card-footer">

                <p class="card-text">Se mostrará un listado de la numérica</p>
            </div>
        </a>
    </div>
</div>